.profile-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    color: aliceblue;
  }

  .profile-info {
    margin-bottom: 10px;
    color: aliceblue;
  }
  

  .label {
    font-weight: bold;
    color: aliceblue;
  }
  
  .span{
    color: aliceblue;
  }